@charset "utf-8";
/*CSS Document*/

p{
	color: black;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: lightpink;
	padding: 20px;
	margin: 20px;
	width: 50%;
}

.paragraf_2{
	color: hotpink;
	background-color: lightpink;
	padding: 20px;
	margin: 20px;
	width: 50%;
}

.novi_blok{
	background-color: lightpink;
	padding: 20px;
	margin: 20px;
	width: 50%;
}

h1, h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: hotpink;
	padding: 20px;
	margin: 20px;
	margin-top: 70px;
	width: 50%;
}

span{
	color: hotpink;
}

.pozadina{
	background-image: url("slike/pozadina.jpg");
}

a:link{
	color: hotpink;
	padding: 20px;
	margin: 20px;
	line-height: 40px;
	width: 50%;
}

a:hover{
	background-color: hotpink;
	color:black;
}

img{
	height: 300px;
	padding: 20px;
	margin: 20px;
}

.video{
	margin: 20px;
}
